# dotenv
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
venv/
__pycache__/
*.pyc
.envrc

# VS Code settings
.vscode/

.md

CV_HIGHLIGHTS_SUMMARY.md
PROJECT_REVIEW_AND_CV_HIGHLIGHTS.md
app/cautruc.txt
